<nav>
    <div class="nav-top">
      <div class="logo d-flex align-items-center">
        <a href="/">
          <h2>BudgetApp</h2>
        </a>
      </div>
      <div class="page-name">
        <h1 style="margin:0;"><%= name %></h1>
      </div>
      <% if (user) { %>
        <div class="logged-user d-flex align-items-center">
          <span style="margin-right: 1em;"><%= user.firstname %> <%= user.lastname %></span>
          <div>
            <form action="/logout" method="POST">
              <button class="btn btn-outline-primary" type="submit">Logout</button>
            </form>
          </div>
        </div>
      <% } else { %>
          <div class="d-flex">
            <a class="d-flex align-items-center" href="/signup">
              <button class="btn btn-primary">Sign Up</button>
            </a>
            <a class="d-flex align-items-center ml-3" href="/signin">
              <button class="btn btn-outline-primary">Sign In</button>
            </a>
          </div>
        <% } %>
    </div>
    <div class="nav-bottom">
      <div id="left-wrapper"></div>
      <div id="right-wrapper"></div>
    </div>
</nav>

<script type="text/javascript">
const pageName = <%- JSON.stringify(name) %>
const leftWrapper = document.getElementById('left-wrapper')
const rightWrapper = document.getElementById('right-wrapper')

function renderButton(text, classes, id) {
  const button = document.createElement('button')
  classes.forEach((btnClass) => {
    button.classList.add(btnClass)
  });
  button.textContent = text;
  button.id = id
  return button
}

switch (pageName) {
  case 'Profile':
  rightWrapper.append(
    renderButton('New Budget +', ['btn', 'btn-secondary'], 'new-budget-button')
  )
  break;
  case 'Budget':
  leftWrapper.append(
    renderButton('Back to Profile', ['btn', 'btn-outline-primary'], 'profile-button')
  )
  rightWrapper.append(
    renderButton('Add Item +', ['btn', 'btn-primary'], 'add-item'),
    renderButton('Edit Budget', ['btn', 'btn-secondary', 'ml-3'], 'edit'),
    renderButton('Delete Budget', ['btn', 'btn-outline-danger', 'ml-3'], 'delete')
  )
  break;
  case 'Editing Budget...':
  leftWrapper.append(
    renderButton('Back to Budget', ['btn', 'btn-outline-primary'], 'budget-button')
  )
  break;
  case 'New Item':
  leftWrapper.append(
    renderButton('Back to Budget', ['btn', 'btn-outline-primary'], 'budget-button')
  )
  break;
  case 'Item':
  leftWrapper.append(
    renderButton('Back to Budget', ['btn', 'btn-outline-primary'], 'budget-button')
  )
  break;
  case 'New Budget':
  leftWrapper.append(
    renderButton('Back to Profile', ['btn', 'btn-outline-primary'], 'profile-button')
  )
  break;
  case 'Editing Item...':
  leftWrapper.append(
    renderButton('Back to Item', ['btn', 'btn-outline-primary'], 'item-button')
  )
  break;
  default:
}
</script>
