<nav>
    <div class="logo">
        <h2>Logo</h2>
    </div>
    <div class="side-btns">
        <div>
            <!-- have an ejs conditional here using user -->
            <button>Button 1</button>
        </div>
        <div>
            <!-- have an ejs conditional here using user -->
            <button>Button 2</button>
        </div>
    </div>
</nav>