<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/addBudget.css">
        <link rel="stylesheet" href="/css/budget.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <script src="/jquery/jquery.min.js" charset="utf-8"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js" charset="utf-8"></script>
    </head>
    <body>
      <%- include('./partials/nav.ejs', {name: "New Budget"}) %>
      <main class="budget-main main-content-form">
        <h1>New Budget Form Page</h1>
        <figure class="budget-banner" style="height: 300px">
          <!-- This is a placeholder image -->
          <div id="budget-banner-img" class="budget-banner" style="background: url('https://s.abcnews.com/images/International/zebra-stripes-02-gty-jc-190221_hpEmbed_3x2_992.jpg') no-repeat center center fixed; "></div>
        </figure>
        <form id="budget-form" action="/budgets" method="POST">
          <div class="input-group">
            <label class="form-label" for="banner_style">Banner Style</label>
            <input class="form-control" min="1" max="6" type="number" name="banner_style" placeholder="Banner Style">
          </div>
          <div class="input-group">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" name="title" placeholder="Title">
          </div>
          <div class="input-group">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
          </div>
          <div class="input-group">
            <label class="form-label" for="budget_amount">Total / Limit</label>
            <input class="form-control" type="number" name="budget_amount" placeholder="$1000" step="0.01">
          </div>
          <!-- <label>Other options</label> -->
          <!-- Add extra options here later -->
          <input class="btn btn-primary" type="submit" value="Add Budget">
        </form>
      </main>
    </body>
    <script src="/js/addBudget.js" charset="utf-8"></script>
</html>
