<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <h1>New Budget Form Page</h1>
        <form action="/items" method="POST">
            <label for="title">Title</label>
            <br>
            <input name="title" placeholder="Title">
            <br>
            <label for="description">Description of Item</label>
            <br>
            <input name="description" placeholder="Description">
            <br>
            <label for="price">Price(1)</label>
            <br>
            <input type="number" name="price" placeholder="$10">
            <br>
            <label for="count">Amount</label>
            <br>
            <input type="number" name="count" placeholder="10">
            <br>
            <label for="rating">Rating</label>
            <br>
            <input type="number" name="rating" placeholder="5">
            <br>
            <label for="img">Img</label>
            <br>
            <input type="file" name="img" value="Image">
            <br>
            <input type="hidden" name="budget_id" value="<%=budget.id%>">
            <br>
            <input type="submit" value="Add Budget">
        </form>
    </body>
</html>