<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="stylesheet" href="/css/signup&signin.css">
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="signup-in-main">
      <section class="signup-in-left"></section>
      <section class="signup-in-right">
        <h1>Sign Up</h1>
        <form action="/users" method="POST">
          <span class="signup-name-group">
            <div class="input-group">
              <label for="firstname">First Name</label>
              <input name="firstname" placeholder="John">
            </div>
            <div class="input-group">
              <label for="lastname">Last Name</label>
              <input name="lastname" placeholder="Doe">
            </div>
          </span>
          <div class="input-group">
            <label for="Email">Email</label>
            <input name="email" placeholder="johndoe@gmail.com">
          </div>
          <div class="input-group">
            <label for="birthday">Date Of Birth</label>
            <input type="date" name="birthday">
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input name="password" type="password">
          </div>
          <input class="signup-in-button" type="submit" value="Create Account">
        </form>
      </section>
    </main>
  </body>
</html>
