<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/signup&signin.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <script src="/jquery/jquery.min.js" charset="utf-8"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js" charset="utf-8"></script>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <main class="signup-in-main">
          <section class="signup-in-left"></section>
          <section class="signup-in-right">
            <h1>Sign In</h1>
            <form action="/users/login" method="POST">
              <div class="input-group">
                <label for='email'>Email</label>
                <input name='email' placeholder="johndoe@gmail.com">
              </div>
              <div class="input-group">
                <label for='password'>Password</label>
                <input type="password" name="password" placeholder="password">
              </div>
              <input class="signup-in-button" type="submit" value="Sign In">
            </form>
          </section>
        </main>
    </body>
</html>
