<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1><%= user.firstname %> <%= user.lastname %></h1>
    </body>
</html>