html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.side-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.side-btns div {
    padding-right: 10px
}